{% extends "base.html.twig" %}

{% block topo %}
<div class="topo">

<img src="{{asset('img/logo.png')}}">

</div>
{% endblock %}

{% block title %} CADASTRO DE USUARIOS{% endblock %}

        {% block body %}
            deu errado cadastrar o {{ fulano }}
        
        
        {% endblock %}

