{% extends "base.html.twig" %}
{% block title %}ERRO!{% endblock %}

{% block body %}
     <div class="alert alert-danger" role="alert">
          ERRO: ao cadastrar o usuario {{ fulano }}
     </div>
{% endblock %}