{% extends "base.html.twig" %}
{% block title %} DASH | CADASTRO DE USUARIOS{% endblock %}

{% block body %}
        <form method="post" action="{{ url('web_usuario_salvar') }}">
            <div class="row">

                <div class="col">
                    <input  name="nome" type="text" class="form-control" placeholder="Nome" aria-label="Nome">
                </div>

                <div class="col">
                    <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary">Enviar</button>
                </div>

            </div>
        </form>
{% endblock %}

