{% extends "base.html.twig" %}
{% block title %}SUCESSO!{% endblock %}

{% block body %}
        <div class="alert alert-success" role="alert">
                {% for user in fulano %}
                        <li>{{ user|e }}</li>
                {% endfor %}        
        </div>
{% endblock %}
